@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .common-text {
        @apply text-black dark:text-white
    }
    .common-colors {
        @apply border-black bg-white dark:border-white dark:bg-black common-text;
    }

    .common-border {
        @apply border common-colors;
    }

    .widget-common-style {
        @apply common-border rounded-lg;
    }

    .list-grid {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3;
    }

    .button-cross {
        @apply text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white;
    }

    .button-blue-gradient {
        @apply text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
    }
    
}
@layer base {
        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button,
        input[type='number'] {
          -webkit-appearance: none;
          margin: 0;
          -moz-appearance: textfield !important;
        }

        ol {
        list-style: decimal;
        /* margin-left: 2em; */
        }

        ul {
            list-style: disc;
            /* margin-left: 2em; */
        }

        .overflow-x-auto::-webkit-scrollbar, .overflow-y-auto::-webkit-scrollbar {
            width: 12px !important;
            height: 12px !important;
            }

            .overflow-x-auto::-webkit-scrollbar, .overflow-y-auto::-webkit-scrollbar {
            display: block;
            }

            .overflow-x-auto::-webkit-scrollbar-track, .overflow-y-auto::-webkit-scrollbar-track {
            background-color: #F7F7F7 !important;
            border-radius: 2px !important;
            }

            .overflow-x-auto::-webkit-scrollbar-thumb, .overflow-y-auto::-webkit-scrollbar-thumb {
            border-radius: 10px !important;
            background-color: #CDCCCC !important; 
            }
     }
