@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .common-text {
        @apply text-black dark:text-white
    }
    .common-colors {
        @apply border-black bg-white dark:border-white dark:bg-black common-text;
    }

    .common-border {
        @apply border common-colors;
    }

    .widget-common-style {
        @apply common-border rounded-lg;
    }

    
}
@layer base {
        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button,
        input[type='number'] {
          -webkit-appearance: none;
          margin: 0;
          -moz-appearance: textfield !important;
        }
     }